.graficTop {
    /* border: 2px solid red; */
    padding-top: 1.5rem;
    padding-left: 1rem;
    width: 100%;
    height: 350px;
}

.graficFooter {
    border-top: 1px solid var(--background-short);
    width: 90%;
    margin-left: 1rem;
    padding-top: 0.5rem;
    padding-left: 1rem;
}