body{
    background: #e6f4f4 !important;  /* fallback for old browsers */
}
div.content{
    flex-direction: row;
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
    justify-content: center;    
}
svg text{
    font-size: 14px;
    color: red;
}
div table{
    opacity: 1 !important;
}
div#temperatura table{
   
}
div#umidadeAr table{
    
}
div#umidadeSolo table{

}

div.card{
    border-style: solid;
    border-radius: 10px;
    margin-left: 10px;
    padding: 0px;
    position: relative;
    box-shadow: 10px 10px 10px #4444;
}
